@model IEnumerable<GCD0805AppDev.Models.ApplicationUser>
@using GCD0805AppDev.Utils


<h2>@ViewBag.Title</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">User Name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>@item.Email</td>
      <td>@item.UserName</td>
      @if (ViewBag.Title == "Get Managers")
      {
        <td>@Role.Manager</td>
      }
      @if (ViewBag.Title == "Get Users")
      {
        <td>@Role.User</td>
      }
    </tr>
    }

  </tbody>
</table>

