@model IEnumerable<GCD0805AppDev.ViewModels.TeamUsersViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>All Teams</h2>

<div class="form-group">
  @Html.ActionLink("Create a new Team", "Create", "Teams", new { @class = "btn btn-primary" })
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Team Name</th>
      <th scope="col">Team Members</th>
      <th scope="col">Add Team Member</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
      <tr>
        <td>@item.Team.Name</td>
        <td>
          <ul>
            @foreach (var user in item.Users)
            {
              <li>@user.Email</li>
            }
          </ul>

        </td>
        <td>
          @Html.ActionLink("Add User to Team", "AddUser", "Teams", new { @class = "btn btn-primary" })
          @Html.ActionLink("Remove User", "RemoveUser", "Teams", new { @class = "btn btn-danger" })
        </td>
      </tr>
    }

  </tbody>
</table>

